<footer>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(66, 66, 66);">
    <div class="container">
      <div class="row" style="color: #838686;">
        Developed by Ludwig "Wolfwood" Buchet using 
      </div>
      <div class="row">
        <a style="color: #838686;" class="nav-link fab fa-bootstrap" target="_blank" rel="noopener noreferrer"
          href="https://getbootstrap.com/"></a>
        <a style="color: #838686;" class="nav-link fab fa-angular" target="_blank" rel="noopener noreferrer"
          href="https://angular.io/"></a>
        <a style="color: #838686;" class="nav-link fab fa-docker" target="_blank" rel="noopener noreferrer"
          href="https://www.docker.com/"></a>
      </div>
    </div>
  </nav>
</footer>