<nav class="navbar navbar-expand-lg" style="background-color: rgb(66, 66, 66);">
  <div class="container">
    <div class="row">
      <a style="text-decoration: none" routerLink="/home">
        <h1 style="color: #008ac0;">
          <i class="fab fa-wolf-pack-battalion" aria-hidden="true"></i>
          wolfwood.
        </h1>
      </a>
    </div>
    <div class="row">
      <div id="navbarSupportedContent">
        <a style="color: #008ac0;" class="nav-link fa fa-home" routerLink="/home"></a>
        <a style="color: #008ac0;" class="nav-link fa fa-music" routerLink="/music"></a>
        <a style="color: #008ac0;" class="nav-link fa fa-plane" routerLink="/plane"></a>
        <a style="color: #008ac0;" class="nav-link fa fa-broadcast-tower" routerLink="/radio"></a>
        <a style="color: #008ac0;" class="nav-link fa fa-user-tie" routerLink="/about"></a>
      </div>
    </div>
  </div>
</nav>