<div class="container-fluid">
  <div class="jumbotron">
    <h2 style="color: #008ac0;">Welcome</h2>
    <div style="color: #008ac0;">This is my website that allows me to test some things such has Bootstrap, Angular,
      Docker and Raspberry development</div>
  </div>
  <div class="alert alert-info">
    <i class="fa fa-spinner fa-spin"></i>
    This is a constant work in progress !!!
  </div>
  <div class="alert alert-warning">
    <i class="fa fa-exclamation-circle"></i>
    What's coming next ?
     <li>Instagram feed integration</li>
     <li>Twitter feed integration</li>
     <li>Spotify widget integration</li>
    </div>
</div>