<div class="container-fluid">
  <div class="jumbotron">
    <h2 style="color: #008ac0;">Music</h2>
    <div style="color: #008ac0;">Here you'll find the latest track I composed and uploaded on my youtube channel</div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/39XsnQvFQIU"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>